.partheading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	font-style: normal;
	font-weight: bold;
	text-transform: capitalize;
	color: #000000;
}
.chartheaders {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bold;
	background-color: #cccccc;
}
.chartsubheads {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bold;
	background-color: #CCCCCC;
}
.privsetfirst {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	background-color: #CCCCCC;
	font-weight: bold;
	color: #000000;
}
.regularcharttext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
}
.limitedPSchartheadings {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bold;
	color: #666666;
}
.chartheadersnobg {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bold;
}
.smallnotestext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-style: italic;
}
.reldetailssubhead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bold;
	color: #000000;
}
.maintitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: large;
	font-style: normal;
	font-weight: bold;
	text-transform: capitalize;
	color: #000000;
}

tr
{
  border-style: none;
  border-spacing: 0;
  padding: 0;
  background-color: #eeeeee;
}

table, td
{
  border-width: 1px;
  border-style: solid;
  border-color: #888888;
  border-spacing: 0;
  border-collapse: collapse;

  padding: 1;
  empty-cells: show;

  color: #000000;
}

.tbNoBorder
{
  border-width: 0px;
  border-spacing: 0;
  padding: 0;
  border-collapse: collapse; 
}

/* script navigation bar */
.script_navbar
{ 
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: x-small;
}

table.script_navbar
{ 
  width: 100%;

  border-collapse: separate;
  border-spacing: 1;
  border-width: 1;
  border-style: solid none none none;
}

tr.script_navbar
{ 
  background-color: #f0f0f0;
}

td.script_navbar
{
  width: 33%;
  border-style: none;
  text-align: center;
}

td.script_navbar a:hover span
{
  background-color: #dddddd;
}

td.script_navbar a:link span
{
  display: block;
  font-weight: bold; 
}

/* script hierarchy */
.script_hier
{ 
  background-color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
}

table.script_hier, tr.script_hier, td.script_hier
{
  border-width: 0;
  border-style: none;
  border-collapse: collapse;
  border-spacing: 0;
}

table.script_hier_guide, tr.script_hier_guide, td.script_hier_guide
{ 
  border-style: none;
  border-width: 0;
}

td.script_hier_spacer
{ 
  background-color: white;
  width: 15px;
  border-style: none;
  border-left-style: dotted;
  border-left-width: 1px;
}

a:link, a:visited
{
  color: #3C2060
}
